<div class="container-fluid">
    <h2>Fantasy Bachelor</h2>
    <div class="row">
        <div *ngFor="let user of fantasyUsers">
            <div class="col-md-6">
                <h3>{{user?.username}}'s Picks: </h3>
                <div *ngFor="let contestant of user.contestants">
                    <div class="contestant">
                        <img class="img-responsive"  [attr.src]="contestant.imageSource" [style.opacity]="contestant.isActive ? '1' :'0.4'" alt="No Image" style="height: 125px; width: 300px"/>
                        <span>{{contestant?.name}}</span>
                        <span *ngIf="!contestant.isActive" class="text-danger">Eliminated!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .contestant {
        margin-bottom: 30px;
    }
</style>